<!-- Start belowNav -->
<div class="content">
  <img src="/images/paul_cropped.jpg" alt="portrait picture">
  <h1>I am <span style="font-family: 'Ubuntu Mono', monospace">paul.</span><span style="font-family: 'Ubuntu Mono', monospace; color:#EBEBEB"><u>d</u>drix</span>,<br> Full Stack developer.</h1>
  <p>
    Always looking forward to helping others learn and learn from others.
  </p>
</div>
<div class="content">
  <h2>Quick Resume</h2>
  <hr />
  <h3>Professional Capabilities</h3>
  <ul>
    <li>Modular, reusable code.</li>
    <li>Semantic HTML</li>
  </ul>
  <h3>Technical Skills</h3>
  <ul>
    <li>Adobe Illustrator</li>
    <li>HTML, CSS, SASS.</li>
    <li>Javascript, jQuery, AngularJS.</li>
    <li>Python, MongoDB, Nodejs, Express, Flask.</li>
    <li>Mac OS, Windows, Linux.</li>
  </ul>
  <p>
    Here is a more verbose version of my resume.
    <a href="/downloadpdf" class="download">Download the PDF</a>
  </p>
</div>
<!-- ___________portfolio pieces______________-->
<div id="projects" class="content">
  <h2>Projects</h2>
  <hr />
  <!-- ProRubs-->
  <div class="projectCont">
    <img src="/images/capProrubs.svg" alt="Pro Rubrics App" title="Pro Rubrics App">
    <section>
      <p>
        <h3>Project Name</h3>
        <span>&nbsp;Pro Rubrics</span>
        <h3>Project Description</h3>
        <span>Web Application that helps teachers grade student's work</span>
        <h3>Tools Used</h3>
        <div class="tools">
          <!-- HTML5 SVG -->
          <a href="http://www.w3.org/html" title="HTML5 home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">
              <polygon fill="#E44D26" points="24.377,54.919 19.966,5.439 68.439,5.439 64.022,54.907 44.173,60.411 "/>
              <polygon fill="#F16529" points="44.203,56.204 60.242,51.759 64.016,9.485 44.203,9.485 "/>
              <polygon fill="#EBEBEB" points="44.203,27.835 36.173,27.835 35.618,21.621 44.203,21.621 44.203,15.552 44.181,15.552
              28.985,15.552 29.131,17.181 30.623,33.903 44.203,33.903 "/>
              <polygon fill="#EBEBEB" points="44.203,43.596 44.177,43.602 37.418,41.778 36.985,36.938 33.702,36.938 30.894,36.938
              31.744,46.464 44.174,49.917 44.203,49.907 "/>
              <polygon fill="#FFFFFF" points="44.181,27.835 44.181,33.903 51.654,33.903 50.95,41.772 44.181,43.6 44.181,49.913 56.622,46.464
              56.714,45.44 58.138,29.465 58.288,27.835 56.652,27.835 "/>
              <polygon fill="#FFFFFF" points="44.181,15.552 44.181,19.322 44.181,21.606 44.181,21.621 58.82,21.621 58.82,21.621 58.839,21.621
              58.962,20.257 59.237,17.181 59.383,15.552 "/>
            </svg>
          </a>
          <!-- CSS3 SVG -->
          <a href="http://www.w3.org/Style/CSS/" title="CSS3 home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <polygon fill="#1F62AE" points="63.583,53.501 44.201,58.721 24.82,53.501 20.347,5.047 68.057,5.047 "/>
              <polygon fill="#3C9BD5" points="44.201,8.971 44.201,54.557 44.244,54.569 59.93,50.346 63.55,8.971 "/>
              <g>
                <polygon fill="#FFFFFF" points="44.185,21.087 30.313,26.865 30.773,32.584 44.185,26.85 58.452,20.75 59.044,14.899   "/>
                <linearGradient id="css31" gradientUnits="userSpaceOnUse" x1="37.2488" y1="32.5842" x2="37.2488" y2="21.0867">
                  <stop  offset="0.3865" style="stop-color:#D0D2D3;stop-opacity:0"/>
                  <stop  offset="1" style="stop-color:#D0D2D3"/>
                </linearGradient>
                <polygon fill="url(#css31)" points="30.313,26.865 30.773,32.584 44.185,26.85 44.185,21.087  "/>
                <linearGradient id="css32" gradientUnits="userSpaceOnUse" x1="51.614" y1="26.8499" x2="51.614" y2="14.8987">
                  <stop  offset="0.3865" style="stop-color:#D0D2D3;stop-opacity:0"/>
                  <stop  offset="1" style="stop-color:#D0D2D3"/>
                </linearGradient>
                <polygon fill="url(#css32)" points="59.044,14.899 44.185,21.087 44.185,26.85 58.452,20.75   "/>
                <linearGradient id="css33" gradientUnits="userSpaceOnUse" x1="30.3333" y1="37.7136" x2="57.948" y2="37.7136">
                  <stop  offset="0" style="stop-color:#E7E6E5"/>
                  <stop  offset="1" style="stop-color:#FFFFFF"/>
                </linearGradient>
                <polygon fill="url(#css33)" points="30.333,26.865 30.793,32.584 51.372,32.65 50.913,40.276 44.141,42.184 37.631,40.54
                37.236,35.805 31.188,35.805 31.977,44.944 44.206,48.561 56.37,45.01 57.948,26.865   "/>
                <g opacity="0.05">
                  <polygon fill="#231F20" points="44.185,26.865 30.313,26.865 30.773,32.584 44.185,32.628         "/>
                  <polygon fill="#231F20" points="44.185,42.165 44.118,42.184 37.609,40.54 37.215,35.805 31.166,35.805 31.956,44.944
                  44.185,48.561       "/>
                </g>
                <linearGradient id="css34" gradientUnits="userSpaceOnUse" x1="29.0627" y1="17.8245" x2="59.0437" y2="17.8245">
                  <stop  offset="0" style="stop-color:#E7E6E5"/>
                  <stop  offset="1" style="stop-color:#FFFFFF"/>
                </linearGradient>
                <polygon fill="url(#css34)" points="29.063,14.899 59.044,14.899 58.452,20.75 29.786,20.75   "/>
                <polygon opacity="0.05" fill="#231F20" points="44.185,14.899 29.063,14.899 29.786,20.75 44.185,20.75    "/>
              </g>
            </svg>
          </a>
          <!-- Javascript SVG -->
          <a href="https://www.javascript.com/" title="Javascript home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <rect x="17.364" y="5.047" fill="#F7DF1E" width="53.675" height="53.675"/>
              <path d="M53.42,46.98c1.081,1.765,2.487,3.062,4.976,3.062c2.09,0,3.425-1.044,3.425-2.487c0-1.73-1.372-2.343-3.672-3.349
              l-1.261-0.541c-3.64-1.551-6.058-3.493-6.058-7.6c0-3.783,2.882-6.663,7.386-6.663c3.207,0,5.513,1.116,7.174,4.039l-3.927,2.521
              c-0.865-1.55-1.798-2.161-3.247-2.161c-1.477,0-2.413,0.937-2.413,2.161c0,1.514,0.938,2.126,3.102,3.063l1.261,0.54
              c4.285,1.838,6.705,3.711,6.705,7.923c0,4.541-3.567,7.029-8.358,7.029c-4.684,0-7.71-2.232-9.19-5.158L53.42,46.98z M35.602,47.417
              c0.792,1.406,1.513,2.595,3.246,2.595c1.657,0,2.702-0.648,2.702-3.17v-17.15h5.044V46.91c0,5.223-3.062,7.6-7.531,7.6
              c-4.039,0-6.378-2.09-7.566-4.606L35.602,47.417z"/>

            </svg>
            <a/>
            <!-- Nodejs SVG -->
            <a href="https://nodejs.org" title="Nodejs home page" target="_blank">
              <svg x="0px" y="0px" viewBox="-435 247.9 88.4 67.2">
                <g>
                  <defs>
                    <rect id="SVGID_1_" x="-668.2" y="223.9" width="316.5" height="85.2"/>
                  </defs>
                  <path id="path30"  fill="#83CD29" d="M-390.8,308.6c-0.7,0-1.5-0.2-2.1-0.6l-6.7-3.9
                  c-1-0.6-0.5-0.8-0.2-0.9c1.3-0.5,1.6-0.6,3-1.4c0.1-0.1,0.3-0.1,0.5,0l5.1,3c0.2,0.1,0.4,0.1,0.6,0l20-11.5
                  c0.2-0.1,0.3-0.3,0.3-0.5v-23c0-0.2-0.1-0.4-0.3-0.6l-20-11.5c-0.2-0.1-0.4-0.1-0.6,0l-20,11.5c-0.2,0.1-0.3,0.3-0.3,0.5v23
                  c0,0.2,0.1,0.4,0.3,0.5l5.5,3.2c3,1.5,4.8-0.3,4.8-2v-22.8c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6v22.8
                  c0,4-2.2,6.2-5.9,6.2c-1.2,0-2.1,0-4.6-1.3l-5.2-3c-1.3-0.7-2.1-2.1-2.1-3.6v-23c0-1.5,0.8-2.9,2.1-3.6l20-11.5
                  c1.3-0.7,2.9-0.7,4.2,0l20,11.5c1.3,0.7,2.1,2.1,2.1,3.6v23c0,1.5-0.8,2.9-2.1,3.6l-20,11.5C-389.4,308.4-390.1,308.6-390.8,308.6"
                  />
                  <path id="path32" fill="#83CD29" d="M-384.7,292.7c-8.7,0-10.6-4-10.6-7.4c0-0.3,0.3-0.6,0.6-0.6
                  h2.6c0.3,0,0.5,0.2,0.6,0.5c0.4,2.6,1.6,4,6.8,4c4.2,0,6-1,6-3.2c0-1.3-0.5-2.2-7-2.9c-5.5-0.5-8.8-1.7-8.8-6.1
                  c0-4,3.4-6.4,9.1-6.4c6.4,0,9.6,2.2,10,7c0,0.2,0,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-2.6c-0.3,0-0.5-0.2-0.6-0.5
                  c-0.6-2.8-2.1-3.6-6.2-3.6c-4.6,0-5.1,1.6-5.1,2.8c0,1.5,0.6,1.9,6.8,2.7c6.1,0.8,9.1,2,9.1,6.3
                  C-374.7,290.2-378.3,292.7-384.7,292.7"/>
                </g>
              </svg>
            </a>
            <!-- Materialize SVG -->
            <a href="http://materializecss.com/" title="Materialize home page" target="_blank">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="114px" height="56.7px" viewBox="0 0 114 56.7" enable-background="new 0 0 114 56.7" xml:space="preserve">
              <g enable-background="new    ">
                <g enable-background="new    ">
                  <defs>
                    <ellipse id="SVGID_1_" enable-background="new    " cx="538.6" cy="28.3" rx="0" ry="28.2"/>
                  </defs>
                  <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_"  overflow="visible"/>
                  </clipPath>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <ellipse id="SVGID_3_" enable-background="new    " cx="-374.1" cy="28.3" rx="0" ry="28.2"/>
                  </defs>
                  <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_"  overflow="visible"/>
                  </clipPath>
                  <g clip-path="url(#SVGID_4_)">
                    <g>
                      <g>
                        <g>
                          <polyline fill="none" points="-374.1,-41.8 -374.1,-19.4 -374.1,3 -374.1,-19.4 -374.1,-41.8 						"/>
                          <polyline fill="none" points="-374.1,5.9 -374.1,28.3 -374.1,50.7 -374.1,28.3 -374.1,5.9 						"/>
                          <polyline fill="none" points="-374.1,53.5 -374.1,75.9 -374.1,98.3 -374.1,75.9 -374.1,53.5 						"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <path id="SVGID_5_" enable-background="new    " d="M-374.1,0.1h912.6c0,0,0,12.6,0,28.2c0,15.6,0,28.2,0,28.2h-912.6
                    c0,0,0-12.6,0-28.2C-374.1,12.7-374.1,0.1-374.1,0.1z"/>
                  </defs>
                  <clipPath id="SVGID_6_">
                    <use xlink:href="#SVGID_5_"  overflow="visible"/>
                  </clipPath>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <path id="SVGID_7_" enable-background="new    " d="M-374.1,56.4c0,0,0-12.6,0-28.2c0-15.6,0-28.2,0-28.2h912.6
                    c0,0,0,12.6,0,28.2c0,15.6,0,28.2,0,28.2C264.8,56.4-100.3,56.4-374.1,56.4z"/>
                  </defs>
                  <clipPath id="SVGID_8_">
                    <use xlink:href="#SVGID_7_"  overflow="visible"/>
                  </clipPath>
                  <g clip-path="url(#SVGID_8_)">
                    <g id="XMLID_1_">
                      <g>
                        <path fill="#EB7077" d="M95,30.3h16.3c-5.7,1.9-7.5,5.7-8.5,16.5c-0.7,7.7-4.2,9.7-4.2,9.7c-2.6,0-5.2-11.1-7.5-22.9
                        C92,31.6,93.2,30.6,95,30.3z"/>
                        <path fill="#EB7077" d="M98.5,56.4H82.2c2.9,0,4.9-5.5,6.1-12.5c0.8-4.7,1.6-8.1,2.7-10.4C93.3,45.3,95.9,56.4,98.5,56.4z"/>
                        <path fill="#F6A2AD" d="M91,33.5c-1.2,2.2-2,5.7-2.7,10.4c-1.2,7-3.2,12.5-6.1,12.5c-3.1-0.7-5.6-12.5-8.9-30.5
                        c-0.1-0.6-0.2-1.1-0.3-1.7c2.5-13,5.1-24.2,7.7-24.2h0.9c3.1,0.7,5.6,12.5,8.9,30.5C90.7,31.6,90.8,32.5,91,33.5z"/>
                        <path fill="#EB7077" d="M65.3,0.1h15.4c-2.6,0-5.3,11.2-7.7,24.2C70.7,12.1,68,0.1,65.3,0.1z"/>
                        <path fill="#EB7077" d="M73,24.3c-0.2,1.3-0.5,2.6-0.7,4c-3.7,20.2-5.9,27.6-8.5,28.2c-2.9,0-5.7-13.1-8-25.9
                        c0-0.2-0.1-0.4-0.1-0.6c0.1-0.6,0.2-1.1,0.3-1.7C59.7,8,61.9,0.7,64.4,0.1h0.9C68,0.1,70.7,12.1,73,24.3z"/>
                        <path fill="#EB7077" d="M63.8,56.4H47.5c2.8,0,5.6-12.5,8.1-26.5c0,0.2,0.1,0.4,0.1,0.6C58.1,43.4,61,56.4,63.8,56.4z"/>
                        <path fill="#F6A2AD" d="M55.7,30c-2.6,14-5.4,26.5-8.1,26.5C44.4,55.7,42,43.9,38.6,26c-0.1-0.6-0.2-1.1-0.3-1.7
                        c2.5-13,5.1-24.2,7.7-24.2h0.9C50,0.8,52.4,12.4,55.7,30z"/>
                        <path fill="#EB7077" d="M30.6,0.1H46c-2.6,0-5.2,11.2-7.7,24.2C36,12.1,33.3,0.1,30.6,0.1z"/>
                        <path fill="#EB7077" d="M38.3,24.3c-0.2,1.3-0.5,2.6-0.7,4c-3.7,20.2-5.9,27.6-8.5,28.2c-2.9,0-1.8-0.5-3.6-8.6
                        c-1.8-8.1-3.2-12.9-5.1-15.4c0.3-1.4,0.5-2.8,0.8-4.2C25,8,27.2,0.7,29.7,0.1h0.9C33.3,0.1,36,12.1,38.3,24.3z"/>
                        <path fill="#EB7077" d="M29.1,56.4H12.8c2.6,0,5.2-11.1,7.7-24c1.8,2.5,3.2,7.3,5.1,15.4C27.4,55.9,26.2,56.4,29.1,56.4z"/>
                        <path fill="#F6A2AD" d="M20.5,32.4c-2.5,12.9-5.1,24-7.7,24c-0.3-0.4-2.1,0-3.8-10c-1.5-9.2-4.2-15-8.6-16.1h16.3
                        C18.3,30.4,19.4,31,20.5,32.4z"/>
                      </g>
                      <g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <path fill="none" d="M194.8,54.9"/>
              <g enable-background="new    ">
                <g enable-background="new    ">
                  <defs>
                    <ellipse id="SVGID_9_" enable-background="new    " cx="538.6" cy="28.2" rx="0" ry="28.2"/>
                  </defs>
                  <clipPath id="SVGID_10_">
                    <use xlink:href="#SVGID_9_"  overflow="visible"/>
                  </clipPath>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <ellipse id="SVGID_11_" enable-background="new    " cx="-374.1" cy="28.2" rx="0" ry="28.2"/>
                  </defs>
                  <clipPath id="SVGID_12_">
                    <use xlink:href="#SVGID_11_"  overflow="visible"/>
                  </clipPath>
                  <g clip-path="url(#SVGID_12_)">
                    <g>
                      <g>
                        <g>
                          <polyline fill="none" points="-374.1,-41.9 -374.1,-19.5 -374.1,2.9 -374.1,-19.5 -374.1,-41.9 						"/>
                          <polyline fill="none" points="-374.1,5.8 -374.1,28.2 -374.1,50.6 -374.1,28.2 -374.1,5.8 						"/>
                          <polyline fill="none" points="-374.1,53.4 -374.1,75.8 -374.1,98.2 -374.1,75.8 -374.1,53.4 						"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <path id="SVGID_13_" enable-background="new    " d="M-374.1,0h912.6c0,0,0,12.6,0,28.2s0,28.2,0,28.2h-912.6c0,0,0-12.6,0-28.2
                    S-374.1,0-374.1,0z"/>
                  </defs>
                  <clipPath id="SVGID_14_">
                    <use xlink:href="#SVGID_13_"  overflow="visible"/>
                  </clipPath>
                </g>
                <g enable-background="new    ">
                  <defs>
                    <path id="SVGID_15_" enable-background="new    " d="M-374.1,56.3c0,0,0-12.6,0-28.2s0-28.2,0-28.2h912.6c0,0,0,12.6,0,28.2
                    s0,28.2,0,28.2C264.8,56.3-100.3,56.3-374.1,56.3z"/>
                  </defs>
                  <clipPath id="SVGID_16_">
                    <use xlink:href="#SVGID_15_"  overflow="visible"/>
                  </clipPath>
                  <g clip-path="url(#SVGID_16_)">
                    <g id="XMLID_2_">
                      <g>
                        <path fill="#EB7077" d="M95,30.2h16.3c-5.7,1.9-7.5,5.7-8.5,16.5c-0.7,7.7-4.2,9.7-4.2,9.7c-2.6,0-5.2-11.1-7.5-22.9
                        C92,31.5,93.2,30.5,95,30.2z"/>
                        <path fill="#EB7077" d="M98.5,56.3H82.2c2.9,0,4.9-5.5,6.1-12.5c0.8-4.7,1.6-8.1,2.7-10.4C93.3,45.2,95.9,56.3,98.5,56.3z"/>
                        <path fill="#F6A2AD" d="M91,33.4c-1.2,2.2-2,5.7-2.7,10.4c-1.2,7-3.2,12.5-6.1,12.5c-3.1-0.7-5.6-12.5-8.9-30.5
                        c-0.1-0.6-0.2-1.1-0.3-1.7C75.5,11.2,78.1,0,80.7,0h0.9c3.1,0.7,5.6,12.5,8.9,30.5C90.7,31.4,90.8,32.4,91,33.4z"/>
                        <path fill="#EB7077" d="M65.3,0h15.4c-2.6,0-5.3,11.2-7.7,24.2C70.7,12,68,0,65.3,0z"/>
                        <path fill="#EB7077" d="M73,24.2c-0.2,1.3-0.5,2.6-0.7,4c-3.7,20.2-5.9,27.6-8.5,28.2c-2.9,0-5.7-13.1-8-25.9
                        c0-0.2-0.1-0.4-0.1-0.6c0.1-0.6,0.2-1.1,0.3-1.7C59.7,7.9,61.9,0.6,64.4,0h0.9C68,0,70.7,12,73,24.2z"/>
                        <path fill="#EB7077" d="M63.8,56.3H47.5c2.8,0,5.6-12.5,8.1-26.5c0,0.2,0.1,0.4,0.1,0.6C58.1,43.3,61,56.3,63.8,56.3z"/>
                        <path fill="#F6A2AD" d="M55.7,29.9c-2.6,14-5.4,26.5-8.1,26.5c-3.1-0.7-5.6-12.5-8.9-30.5c-0.1-0.6-0.2-1.1-0.3-1.7
                        C40.8,11.2,43.4,0,46,0h0.9C50,0.7,52.4,12.2,55.7,29.9z"/>
                        <path fill="#EB7077" d="M30.6,0H46c-2.6,0-5.2,11.2-7.7,24.2C36,12,33.3,0,30.6,0z"/>
                        <path fill="#EB7077" d="M38.3,24.2c-0.2,1.3-0.5,2.6-0.7,4c-3.7,20.2-5.9,27.6-8.5,28.2c-2.9,0-1.8-0.5-3.6-8.6
                        c-1.8-8.1-3.2-12.9-5.1-15.4c0.3-1.4,0.5-2.8,0.8-4.2C25,7.9,27.2,0.6,29.7,0h0.9C33.3,0,36,12,38.3,24.2z"/>
                        <path fill="#EB7077" d="M29.1,56.3H12.8c2.6,0,5.2-11.1,7.7-24c1.8,2.5,3.2,7.3,5.1,15.4C27.4,55.8,26.2,56.3,29.1,56.3z"/>
                        <path fill="#F6A2AD" d="M20.5,32.3c-2.5,12.9-5.1,24-7.7,24c-0.3-0.4-2.1,0-3.8-10c-1.5-9.2-4.2-15-8.6-16.1h16.3
                        C18.3,30.2,19.4,30.9,20.5,32.3z"/>
                      </g>
                      <g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </svg>
          </a>
          <!-- CodeShip SVG -->
          <a href="https://codeship.com/" title="Codeship home page" target="_blank">
            <svg viewBox="-466 268 26 25">
              <style type="text/css">
              .co{fill:#FFF;}
              .codeship{opacity:0.9;fill:#FFF;enable-background:new    ;}
              </style>
              <title>codeship</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1" sketch:type="MSPage">
                <g id="codeship" transform="translate(1.000000, 0.000000)" sketch:type="MSLayerGroup">
                  <path id="Fill-1" sketch:type="MSShapeGroup" class="co" d="M-453.5,292.9c-6.9,0-12.5-5.6-12.5-12.4s5.6-12.4,12.5-12.4
                  c6.9,0,12.5,5.6,12.5,12.4S-446.6,292.9-453.5,292.9L-453.5,292.9z M-453.5,269.4c-6.2,0-11.2,5-11.2,11.1s5,11.1,11.2,11.1
                  c6.2,0,11.2-5,11.2-11.1S-447.3,269.4-453.5,269.4L-453.5,269.4z"/>
                  <path id="Fill-2" sketch:type="MSShapeGroup" class="codeship" d="M-453.6,270.9c-0.8,0-1.9,0.3-1.9,0.6v2c0.6-0.1,1.3-0.2,1.9-0.2
                  c0.6,0,1.3,0.1,1.9,0.2v-2C-451.6,271.3-452.8,270.9-453.6,270.9"/>
                  <path id="Fill-3" sketch:type="MSShapeGroup" class="codeship" d="M-459.7,281.8c-1,0-2.2,0.4-3.4,1.5c0.1,0.4,0.3,0.8,0.4,1.2
                  c0.1,0,0.2-0.1,0.4-0.1c0.7,0,1.6,0.8,2.3,0.8c0.5,0.1,1.9,0.6,3.6,0.6c1.1,0,2.3-0.2,3.5-0.9l-0.8-0.1c-1-0.2-2.9-1.6-3-1.7
                  C-456.5,283.1-457.8,281.8-459.7,281.8"/>
                  <path id="Fill-4" sketch:type="MSShapeGroup" class="co" d="M-462.6,284.5L-462.6,284.5L-462.6,284.5L-462.6,284.5"/>
                  <path id="Fill-5" sketch:type="MSShapeGroup" class="co" d="M-449.4,277.3v-2.1c0-0.3-2.5-1-4.2-1c-1.6,0-4.1,0.7-4.1,1v2.1
                  c1.9-1.4,4-2,4-2C-453.6,275.3-451.3,275.9-449.4,277.3"/>
                  <path id="Fill-6" sketch:type="MSShapeGroup" class="co" d="M-448.4,281.4c-0.6,0.1-1.4,1-2.3,1.9c0.4-1.3,1-2.8,2.3-4.1
                  c-0.3-0.3-0.7-0.6-1-0.8v0c-1.2-0.9-2.7-1.7-4.1-2.1l0,0c-0.6,0.2-1.2,0.4-1.8,0.7c-1.2,0.6-2.4,1.3-3.4,2.2l0,0
                  c1.1,1.1,1.7,2.5,2.1,3.8c0,0,0,0.1,0,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0.8,0.6,1.6,1.2,2.6,1.4l0,0l-0.4-3.2l-0.1-2.1l0.5-2.4
                  l0.5,2.4l-0.1,2.1l-0.4,3.2l0,0l0.7,0.1c-1.2,0.5-3,0.8-4.9-0.1c-0.8-0.4-1.5-0.7-2.4-0.8c-0.9-0.1-1.8,0.1-2.6,0.4l0,0l0,0l0,0
                  c1.6,3.6,5.4,6,9.4,5.9c3.9-0.1,7.5-2.6,9-6.3c0.1-0.2,0.1-0.4,0.2-0.6C-445.4,282.5-447.6,281.3-448.4,281.4"/>
                  <path id="Fill-7" sketch:type="MSShapeGroup" class="co" d="M-448.4,281.4C-447.6,281.3-449,281.6-448.4,281.4"/>
                </g>
              </g>
            </svg>
          </a>
          <!-- Heroku SVG -->
          <a href="https://www.heroku.com/about" title="Heroku about page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <g>
                <path fill="#6762A6" d="M60.964,60.794H27.44c-2.868,0-5.192-2.324-5.192-5.191V11.547c0-2.868,2.324-5.192,5.192-5.192h33.523
                c2.867,0,5.192,2.324,5.192,5.192v44.055C66.156,58.469,63.831,60.794,60.964,60.794L60.964,60.794L60.964,60.794z"/>
                <path fill="#FFFFFF" d="M49.764,53.303V31.684c0,0,1.406-5.174-17.321,2.116c-0.034,0.093-0.034-19.991-0.034-19.991l6.119-0.038
                v12.868c0,0,17.133-6.748,17.133,5.118v21.546H49.764L49.764,53.303L49.764,53.303z M53.252,21.559H46.76
                c2.337-2.856,4.451-7.75,4.451-7.75h6.711C57.923,13.809,56.774,16.998,53.252,21.559L53.252,21.559L53.252,21.559z M32.52,53.265
                V40.954l6.156,6.157L32.52,53.265L32.52,53.265z"/>
              </g>
            </svg>
          </a>
          <!-- Scaleable Vector Graphics SVG -->
          <a href="http://www.w3.org/Graphics/SVG/"  title="W3C SVG Working Group home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <path id="background" fill="#FF9900" d="M19.27,6.353h49.864c1.197,0,2.168,0.971,2.168,2.168v49.864
              c0,1.197-0.971,2.168-2.168,2.168H19.27c-1.197,0-2.168-0.971-2.168-2.168V8.521C17.102,7.323,18.073,6.353,19.27,6.353z"/>
              <path id="top-left" fill="#FFB13B" d="M19.27,6.353h22.764c1.197,0,2.168,0.971,2.168,2.168v22.764
              c0,1.198-0.971,2.168-2.168,2.168H19.27c-1.197,0-2.168-0.97-2.168-2.168V8.521C17.102,7.323,18.073,6.353,19.27,6.353z"/>
              <path id="bottom-right" fill="#DE8500" d="M46.37,33.452h22.765c1.197,0,2.168,0.971,2.168,2.168v22.764
              c0,1.197-0.971,2.168-2.168,2.168H46.37c-1.197,0-2.168-0.971-2.168-2.168V35.621C44.202,34.424,45.173,33.452,46.37,33.452z"/>
              <g id="circles">
                <circle id="n" fill="#FF9900" cx="44.202" cy="16.325" r="9.973"/>
                <circle id="ne" fill="#FF9900" cx="56.343" cy="21.312" r="9.973"/>
                <circle id="e" fill="#FF9900" cx="61.329" cy="33.453" r="9.973"/>
                <circle id="se" fill="#FF9900" cx="56.343" cy="45.594" r="9.973"/>
                <circle id="s" fill="#FF9900" cx="44.202" cy="50.58" r="9.973"/>
                <circle id="sw" fill="#FF9900" cx="32.061" cy="45.594" r="9.973"/>
                <circle id="w" fill="#FF9900" cx="27.075" cy="33.453" r="9.973"/>
                <circle id="nw" fill="#FF9900" cx="32.061" cy="21.312" r="9.973"/>
              </g>
              <g id="stars">
                <path id="black-star" d="M51.295,16.317c0-3.917-3.176-7.092-7.1-7.092c-3.922,0-7.099,3.175-7.099,7.092
                c-2.764-2.77-7.26-2.77-10.025,0c-2.774,2.775-2.774,7.268,0,10.041c-3.921,0-7.102,3.175-7.102,7.092
                c0,3.918,3.182,7.099,7.102,7.099c-2.774,2.77-2.774,7.26,0,10.035c2.766,2.766,7.262,2.766,10.025,0
                c0,3.917,3.177,7.091,7.099,7.091c3.924,0,7.1-3.174,7.1-7.091c2.773,2.766,7.271,2.766,10.034,0
                c2.765-2.775,2.765-7.269,0-10.035c3.911,0,7.09-3.181,7.09-7.099c0-3.917-3.179-7.092-7.09-7.092
                c2.765-2.775,2.765-7.267,0-10.041C58.566,13.548,54.07,13.548,51.295,16.317z"/>
                <path id="white-star" fill="#FFFFFF" d="M46.914,19.038v7.852l5.56-5.557c0-0.982,0.374-1.961,1.119-2.713
                c1.507-1.502,3.943-1.502,5.434,0c1.502,1.5,1.502,3.933,0,5.435c-0.747,0.745-1.732,1.123-2.719,1.123l-5.547,5.555h7.854
                c0.699-0.694,1.655-1.125,2.716-1.125c2.113,0,3.836,1.723,3.836,3.841c0,2.117-1.723,3.842-3.836,3.842
                c-1.061,0-2.017-0.433-2.716-1.123H50.76l5.544,5.552c0.988,0,1.974,0.376,2.718,1.131c1.504,1.495,1.504,3.93,0,5.426
                c-1.49,1.503-3.924,1.503-5.434,0c-0.743-0.744-1.118-1.73-1.118-2.712l-5.559-5.557v7.858c0.689,0.691,1.13,1.655,1.13,2.717
                c0,2.117-1.723,3.836-3.847,3.836s-3.846-1.717-3.846-3.836c0-1.062,0.439-2.022,1.128-2.717v-7.858l-5.547,5.557
                c0,0.982-0.382,1.966-1.13,2.712c-1.501,1.502-3.93,1.502-5.433,0c-1.505-1.498-1.505-3.932,0-5.427
                c0.746-0.754,1.742-1.131,2.717-1.131l5.559-5.551h-7.851c-0.699,0.691-1.665,1.123-2.718,1.123c-2.123,0-3.847-1.724-3.847-3.842
                s1.722-3.841,3.847-3.841c1.051,0,2.019,0.431,2.718,1.125h7.853l-5.559-5.554c-0.975,0-1.969-0.377-2.717-1.122
                c-1.504-1.503-1.504-3.936,0-5.435c1.503-1.502,3.933-1.502,5.435,0c0.745,0.751,1.129,1.731,1.129,2.712l5.548,5.557v-7.853
                c-0.688-0.698-1.129-1.655-1.129-2.722c0-2.119,1.721-3.837,3.846-3.837c2.124,0,3.847,1.717,3.847,3.837
                C48.044,17.385,47.602,18.341,46.914,19.038z"/>
              </g>
              <g id="svg-textbox">
                <path id="text-backdrop" d="M19.974,33.452h48.444v21.68c0,1.807-0.903,2.71-2.71,2.71H22.685c-1.807,0-2.711-0.903-2.711-2.71
                V33.452z"/>
                <path id="shine" fill="#3F3F3F" d="M25.046,35.735h38.696c1.576,0,2.879,1.293,2.879,2.881v9.707
                c-14.95-1.845-29.77-4.404-44.45-4.164v-5.543C22.172,37.028,23.467,35.735,25.046,35.735L25.046,35.735z"/>
                <g id="svg-text">
                  <title>SVG</title>
                  <path id="S" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" d="M27.027,45.879c-1.14-1.142-1.847-2.725-1.847-4.473
                  c0-3.493,2.831-6.326,6.323-6.326c3.494,0,6.323,2.832,6.323,6.326h-3.702c0-1.449-1.176-2.621-2.621-2.621
                  c-1.443,0-2.622,1.172-2.622,2.621c0,0.725,0.298,1.375,0.767,1.854l0,0c0.479,0.474,1.139,0.762,1.855,0.762v0.006
                  c1.752,0,3.331,0.71,4.468,1.852l0,0c1.147,1.145,1.855,2.729,1.855,4.471c0,3.498-2.829,6.331-6.323,6.331
                  c-3.491,0-6.323-2.831-6.323-6.331h3.701c0,1.452,1.179,2.621,2.622,2.621c1.445,0,2.621-1.169,2.621-2.621
                  c0-0.721-0.296-1.369-0.775-1.847l0,0c-0.468-0.477-1.128-0.769-1.846-0.769l0,0C29.753,47.734,28.175,47.022,27.027,45.879
                  L27.027,45.879L27.027,45.879z"/>
                  <polygon id="V" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" points="50.483,35.081 46.014,56.679 42.302,56.679
                  37.826,35.081 41.537,35.081 44.159,47.73 46.779,35.081 			"/>
                  <path id="G" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" d="M56.806,44.028h6.332v6.322l0,0
                  c0,3.497-2.832,6.33-6.324,6.33c-3.491,0-6.323-2.833-6.323-6.33l0,0v-8.943h-0.01c0-3.494,2.841-6.328,6.324-6.328
                  c3.501,0,6.332,2.832,6.332,6.328h-3.713c0-1.449-1.166-2.622-2.619-2.622c-1.435,0-2.613,1.173-2.613,2.622v8.943l0,0
                  c0,1.45,1.179,2.622,2.613,2.622c1.453,0,2.619-1.172,2.619-2.616v-0.007v-2.616h-2.619L56.806,44.028L56.806,44.028z"/>
                </g>
              </g>
            </svg>
          </a>
          <!-- MongoDB SVG-->
          <a>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/527px-MongoDB-Logo.svg.png" height="67px" width="auto" style="margin:0" alt="">
          </a>
        </div>
      </p>
      <a href="https://brogrammers-pro-rubrics.herokuapp.com/#/" target="blank" class="demoLink">Demo</a>
    </section>
  </div>
  <!-- tutorTracker-->
  <div class="projectCont">
    <section>
      <p>
        <h3>Project Name</h3>
        <span>&nbsp; Tutor Tracker</span>
        <h3>Project Description</h3>
        <span>Web Application to Manage tutors in a university environment</span>
        <h3>Tools Used</h3>
        <div class="tools">
          <!-- HTML5 SVG -->
          <a href="http://www.w3.org/html" title="HTML5 home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">
              <polygon fill="#E44D26" points="24.377,54.919 19.966,5.439 68.439,5.439 64.022,54.907 44.173,60.411 "/>
              <polygon fill="#F16529" points="44.203,56.204 60.242,51.759 64.016,9.485 44.203,9.485 "/>
              <polygon fill="#EBEBEB" points="44.203,27.835 36.173,27.835 35.618,21.621 44.203,21.621 44.203,15.552 44.181,15.552
              28.985,15.552 29.131,17.181 30.623,33.903 44.203,33.903 "/>
              <polygon fill="#EBEBEB" points="44.203,43.596 44.177,43.602 37.418,41.778 36.985,36.938 33.702,36.938 30.894,36.938
              31.744,46.464 44.174,49.917 44.203,49.907 "/>
              <polygon fill="#FFFFFF" points="44.181,27.835 44.181,33.903 51.654,33.903 50.95,41.772 44.181,43.6 44.181,49.913 56.622,46.464
              56.714,45.44 58.138,29.465 58.288,27.835 56.652,27.835 "/>
              <polygon fill="#FFFFFF" points="44.181,15.552 44.181,19.322 44.181,21.606 44.181,21.621 58.82,21.621 58.82,21.621 58.839,21.621
              58.962,20.257 59.237,17.181 59.383,15.552 "/>
            </svg>
          </a>
          <!-- CSS3 SVG -->
          <a href="http://www.w3.org/Style/CSS/" title="CSS3 home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <polygon fill="#1F62AE" points="63.583,53.501 44.201,58.721 24.82,53.501 20.347,5.047 68.057,5.047 "/>
              <polygon fill="#3C9BD5" points="44.201,8.971 44.201,54.557 44.244,54.569 59.93,50.346 63.55,8.971 "/>
              <g>
                <polygon fill="#FFFFFF" points="44.185,21.087 30.313,26.865 30.773,32.584 44.185,26.85 58.452,20.75 59.044,14.899   "/>
                <linearGradient id="css31" gradientUnits="userSpaceOnUse" x1="37.2488" y1="32.5842" x2="37.2488" y2="21.0867">
                  <stop  offset="0.3865" style="stop-color:#D0D2D3;stop-opacity:0"/>
                  <stop  offset="1" style="stop-color:#D0D2D3"/>
                </linearGradient>
                <polygon fill="url(#css31)" points="30.313,26.865 30.773,32.584 44.185,26.85 44.185,21.087  "/>
                <linearGradient id="css32" gradientUnits="userSpaceOnUse" x1="51.614" y1="26.8499" x2="51.614" y2="14.8987">
                  <stop  offset="0.3865" style="stop-color:#D0D2D3;stop-opacity:0"/>
                  <stop  offset="1" style="stop-color:#D0D2D3"/>
                </linearGradient>
                <polygon fill="url(#css32)" points="59.044,14.899 44.185,21.087 44.185,26.85 58.452,20.75   "/>
                <linearGradient id="css33" gradientUnits="userSpaceOnUse" x1="30.3333" y1="37.7136" x2="57.948" y2="37.7136">
                  <stop  offset="0" style="stop-color:#E7E6E5"/>
                  <stop  offset="1" style="stop-color:#FFFFFF"/>
                </linearGradient>
                <polygon fill="url(#css33)" points="30.333,26.865 30.793,32.584 51.372,32.65 50.913,40.276 44.141,42.184 37.631,40.54
                37.236,35.805 31.188,35.805 31.977,44.944 44.206,48.561 56.37,45.01 57.948,26.865   "/>
                <g opacity="0.05">
                  <polygon fill="#231F20" points="44.185,26.865 30.313,26.865 30.773,32.584 44.185,32.628         "/>
                  <polygon fill="#231F20" points="44.185,42.165 44.118,42.184 37.609,40.54 37.215,35.805 31.166,35.805 31.956,44.944
                  44.185,48.561       "/>
                </g>
                <linearGradient id="css34" gradientUnits="userSpaceOnUse" x1="29.0627" y1="17.8245" x2="59.0437" y2="17.8245">
                  <stop  offset="0" style="stop-color:#E7E6E5"/>
                  <stop  offset="1" style="stop-color:#FFFFFF"/>
                </linearGradient>
                <polygon fill="url(#css34)" points="29.063,14.899 59.044,14.899 58.452,20.75 29.786,20.75   "/>
                <polygon opacity="0.05" fill="#231F20" points="44.185,14.899 29.063,14.899 29.786,20.75 44.185,20.75    "/>
              </g>
            </svg>
          </a>
          <!-- SASS -->
          <a href="https://sass-lang.com/" title="SASS Language home page" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 67.15 67.15" width="67.15" height="67.15"><defs><clipPath id="_clipPath_1QqgnyIJ4ZUgSwLaBUL13jclu8SePKOq"><rect width="67.15" height="67.15"/></clipPath></defs><g clip-path="url(#_clipPath_1QqgnyIJ4ZUgSwLaBUL13jclu8SePKOq)"><clipPath id="_clipPath_s6CavGvmUqawo7CbVWZxhg0aMZhdHnN8"><rect x="0" y="0" width="67.15" height="67.15" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"/></clipPath><g clip-path="url(#_clipPath_s6CavGvmUqawo7CbVWZxhg0aMZhdHnN8)"><g><clipPath id="_clipPath_jsQIWrTkNpXl58vYtUFmwTHlHUl567Ts"><path d=" M 0 0 L 0 67.15 L 67.15 67.15 L 67.15 0 L 0 0 Z " fill="rgb(255,255,255)"/></clipPath><g clip-path="url(#_clipPath_jsQIWrTkNpXl58vYtUFmwTHlHUl567Ts)"><g><path d=" M 33.575 0 C 52.118 0 67.15 15.032 67.15 33.575 C 67.15 52.118 52.118 67.15 33.575 67.15 C 15.032 67.15 0 52.118 0 33.575 C 0 15.032 15.032 0 33.575 0 L 33.575 0 Z " fill-rule="evenodd" fill="rgb(205,109,156)"/><path d=" M 26.903 44.759 C 27.391 46.566 27.337 48.251 26.833 49.777 C 26.777 49.946 26.715 50.114 26.648 50.28 C 26.581 50.445 26.509 50.609 26.431 50.77 C 26.042 51.578 25.52 52.333 24.88 53.031 C 22.929 55.159 20.204 55.964 19.035 55.286 C 17.773 54.554 18.405 51.554 20.667 49.163 C 23.1 46.591 26.601 44.937 26.601 44.937 L 26.596 44.926 C 26.696 44.872 26.799 44.816 26.903 44.759 Z  M 54.636 14.371 C 53.115 8.408 43.228 6.447 33.87 9.772 C 28.301 11.75 22.272 14.855 17.937 18.91 C 12.783 23.731 11.961 27.927 12.3 29.681 C 13.495 35.867 21.972 39.911 25.456 42.911 L 25.456 42.929 C 24.429 43.435 16.908 47.241 15.148 51.132 C 13.291 55.237 15.444 58.183 16.869 58.579 C 21.285 59.808 25.816 57.598 28.251 53.966 C 30.601 50.461 30.406 45.934 29.384 43.683 C 30.793 43.311 32.435 43.144 34.523 43.388 C 40.412 44.076 41.568 47.754 41.347 49.292 C 41.126 50.832 39.891 51.678 39.478 51.933 C 39.065 52.189 38.939 52.277 38.974 52.467 C 39.024 52.743 39.215 52.733 39.567 52.674 C 40.052 52.592 42.66 51.422 42.771 48.581 C 42.913 44.974 39.456 40.939 33.336 41.044 C 30.815 41.088 29.23 41.327 28.086 41.753 C 28.001 41.657 27.915 41.561 27.826 41.466 C 24.042 37.429 17.047 34.574 17.344 29.146 C 17.452 27.173 18.137 21.978 30.784 15.676 C 41.144 10.514 49.438 11.934 50.871 15.083 C 52.919 19.581 46.439 27.941 35.68 29.146 C 31.581 29.606 29.422 28.017 28.886 27.426 C 28.32 26.803 28.236 26.775 28.025 26.891 C 27.681 27.082 27.899 27.632 28.025 27.96 C 28.346 28.796 29.665 30.278 31.912 31.016 C 33.889 31.664 38.702 32.021 44.522 29.77 C 51.04 27.248 56.131 20.234 54.636 14.371 Z " fill="rgb(254,254,254)"/></g></g></g></g></g></svg>
          </a>
          <!-- Javascript SVG -->
          <a href="https://www.javascript.com/" title="Javascript home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <rect x="17.364" y="5.047" fill="#F7DF1E" width="53.675" height="53.675"/>
              <path d="M53.42,46.98c1.081,1.765,2.487,3.062,4.976,3.062c2.09,0,3.425-1.044,3.425-2.487c0-1.73-1.372-2.343-3.672-3.349
              l-1.261-0.541c-3.64-1.551-6.058-3.493-6.058-7.6c0-3.783,2.882-6.663,7.386-6.663c3.207,0,5.513,1.116,7.174,4.039l-3.927,2.521
              c-0.865-1.55-1.798-2.161-3.247-2.161c-1.477,0-2.413,0.937-2.413,2.161c0,1.514,0.938,2.126,3.102,3.063l1.261,0.54
              c4.285,1.838,6.705,3.711,6.705,7.923c0,4.541-3.567,7.029-8.358,7.029c-4.684,0-7.71-2.232-9.19-5.158L53.42,46.98z M35.602,47.417
              c0.792,1.406,1.513,2.595,3.246,2.595c1.657,0,2.702-0.648,2.702-3.17v-17.15h5.044V46.91c0,5.223-3.062,7.6-7.531,7.6
              c-4.039,0-6.378-2.09-7.566-4.606L35.602,47.417z"/>

            </svg>
            <a/>
            <!-- Nodejs SVG -->
            <a href="https://nodejs.org" title="Nodejs home page" target="_blank">
              <svg x="0px" y="0px" viewBox="-435 247.9 88.4 67.2">
                <g>
                  <defs>
                    <rect id="SVGID_1_" x="-668.2" y="223.9" width="316.5" height="85.2"/>
                  </defs>
                  <path id="path30"  fill="#83CD29" d="M-390.8,308.6c-0.7,0-1.5-0.2-2.1-0.6l-6.7-3.9
                  c-1-0.6-0.5-0.8-0.2-0.9c1.3-0.5,1.6-0.6,3-1.4c0.1-0.1,0.3-0.1,0.5,0l5.1,3c0.2,0.1,0.4,0.1,0.6,0l20-11.5
                  c0.2-0.1,0.3-0.3,0.3-0.5v-23c0-0.2-0.1-0.4-0.3-0.6l-20-11.5c-0.2-0.1-0.4-0.1-0.6,0l-20,11.5c-0.2,0.1-0.3,0.3-0.3,0.5v23
                  c0,0.2,0.1,0.4,0.3,0.5l5.5,3.2c3,1.5,4.8-0.3,4.8-2v-22.8c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6v22.8
                  c0,4-2.2,6.2-5.9,6.2c-1.2,0-2.1,0-4.6-1.3l-5.2-3c-1.3-0.7-2.1-2.1-2.1-3.6v-23c0-1.5,0.8-2.9,2.1-3.6l20-11.5
                  c1.3-0.7,2.9-0.7,4.2,0l20,11.5c1.3,0.7,2.1,2.1,2.1,3.6v23c0,1.5-0.8,2.9-2.1,3.6l-20,11.5C-389.4,308.4-390.1,308.6-390.8,308.6"
                  />
                  <path id="path32" fill="#83CD29" d="M-384.7,292.7c-8.7,0-10.6-4-10.6-7.4c0-0.3,0.3-0.6,0.6-0.6
                  h2.6c0.3,0,0.5,0.2,0.6,0.5c0.4,2.6,1.6,4,6.8,4c4.2,0,6-1,6-3.2c0-1.3-0.5-2.2-7-2.9c-5.5-0.5-8.8-1.7-8.8-6.1
                  c0-4,3.4-6.4,9.1-6.4c6.4,0,9.6,2.2,10,7c0,0.2,0,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-2.6c-0.3,0-0.5-0.2-0.6-0.5
                  c-0.6-2.8-2.1-3.6-6.2-3.6c-4.6,0-5.1,1.6-5.1,2.8c0,1.5,0.6,1.9,6.8,2.7c6.1,0.8,9.1,2,9.1,6.3
                  C-374.7,290.2-378.3,292.7-384.7,292.7"/>
                </g>
              </svg>
            </a>
          <!-- CodeShip SVG -->
          <a href="https://codeship.com/" title="Codeship home page" target="_blank">
            <svg viewBox="-466 268 26 25">
              <style type="text/css">
              .co{fill:#FFF;}
              .codeship{opacity:0.9;fill:#FFF;enable-background:new    ;}
              </style>
              <title>codeship</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1" sketch:type="MSPage">
                <g id="codeship" transform="translate(1.000000, 0.000000)" sketch:type="MSLayerGroup">
                  <path id="Fill-1" sketch:type="MSShapeGroup" class="co" d="M-453.5,292.9c-6.9,0-12.5-5.6-12.5-12.4s5.6-12.4,12.5-12.4
                  c6.9,0,12.5,5.6,12.5,12.4S-446.6,292.9-453.5,292.9L-453.5,292.9z M-453.5,269.4c-6.2,0-11.2,5-11.2,11.1s5,11.1,11.2,11.1
                  c6.2,0,11.2-5,11.2-11.1S-447.3,269.4-453.5,269.4L-453.5,269.4z"/>
                  <path id="Fill-2" sketch:type="MSShapeGroup" class="codeship" d="M-453.6,270.9c-0.8,0-1.9,0.3-1.9,0.6v2c0.6-0.1,1.3-0.2,1.9-0.2
                  c0.6,0,1.3,0.1,1.9,0.2v-2C-451.6,271.3-452.8,270.9-453.6,270.9"/>
                  <path id="Fill-3" sketch:type="MSShapeGroup" class="codeship" d="M-459.7,281.8c-1,0-2.2,0.4-3.4,1.5c0.1,0.4,0.3,0.8,0.4,1.2
                  c0.1,0,0.2-0.1,0.4-0.1c0.7,0,1.6,0.8,2.3,0.8c0.5,0.1,1.9,0.6,3.6,0.6c1.1,0,2.3-0.2,3.5-0.9l-0.8-0.1c-1-0.2-2.9-1.6-3-1.7
                  C-456.5,283.1-457.8,281.8-459.7,281.8"/>
                  <path id="Fill-4" sketch:type="MSShapeGroup" class="co" d="M-462.6,284.5L-462.6,284.5L-462.6,284.5L-462.6,284.5"/>
                  <path id="Fill-5" sketch:type="MSShapeGroup" class="co" d="M-449.4,277.3v-2.1c0-0.3-2.5-1-4.2-1c-1.6,0-4.1,0.7-4.1,1v2.1
                  c1.9-1.4,4-2,4-2C-453.6,275.3-451.3,275.9-449.4,277.3"/>
                  <path id="Fill-6" sketch:type="MSShapeGroup" class="co" d="M-448.4,281.4c-0.6,0.1-1.4,1-2.3,1.9c0.4-1.3,1-2.8,2.3-4.1
                  c-0.3-0.3-0.7-0.6-1-0.8v0c-1.2-0.9-2.7-1.7-4.1-2.1l0,0c-0.6,0.2-1.2,0.4-1.8,0.7c-1.2,0.6-2.4,1.3-3.4,2.2l0,0
                  c1.1,1.1,1.7,2.5,2.1,3.8c0,0,0,0.1,0,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0.8,0.6,1.6,1.2,2.6,1.4l0,0l-0.4-3.2l-0.1-2.1l0.5-2.4
                  l0.5,2.4l-0.1,2.1l-0.4,3.2l0,0l0.7,0.1c-1.2,0.5-3,0.8-4.9-0.1c-0.8-0.4-1.5-0.7-2.4-0.8c-0.9-0.1-1.8,0.1-2.6,0.4l0,0l0,0l0,0
                  c1.6,3.6,5.4,6,9.4,5.9c3.9-0.1,7.5-2.6,9-6.3c0.1-0.2,0.1-0.4,0.2-0.6C-445.4,282.5-447.6,281.3-448.4,281.4"/>
                  <path id="Fill-7" sketch:type="MSShapeGroup" class="co" d="M-448.4,281.4C-447.6,281.3-449,281.6-448.4,281.4"/>
                </g>
              </g>
            </svg>
          </a>
          <!-- Heroku SVG -->
          <a href="https://www.heroku.com/about" title="Heroku about page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <g>
                <path fill="#6762A6" d="M60.964,60.794H27.44c-2.868,0-5.192-2.324-5.192-5.191V11.547c0-2.868,2.324-5.192,5.192-5.192h33.523
                c2.867,0,5.192,2.324,5.192,5.192v44.055C66.156,58.469,63.831,60.794,60.964,60.794L60.964,60.794L60.964,60.794z"/>
                <path fill="#FFFFFF" d="M49.764,53.303V31.684c0,0,1.406-5.174-17.321,2.116c-0.034,0.093-0.034-19.991-0.034-19.991l6.119-0.038
                v12.868c0,0,17.133-6.748,17.133,5.118v21.546H49.764L49.764,53.303L49.764,53.303z M53.252,21.559H46.76
                c2.337-2.856,4.451-7.75,4.451-7.75h6.711C57.923,13.809,56.774,16.998,53.252,21.559L53.252,21.559L53.252,21.559z M32.52,53.265
                V40.954l6.156,6.157L32.52,53.265L32.52,53.265z"/>
              </g>
            </svg>
          </a>
          <!-- Scaleable Vector Graphics SVG -->
          <a href="http://www.w3.org/Graphics/SVG/"  title="W3C SVG Working Group home page" target="_blank">
            <svg viewBox="0 0 88.404 67.15">

              <path id="background" fill="#FF9900" d="M19.27,6.353h49.864c1.197,0,2.168,0.971,2.168,2.168v49.864
              c0,1.197-0.971,2.168-2.168,2.168H19.27c-1.197,0-2.168-0.971-2.168-2.168V8.521C17.102,7.323,18.073,6.353,19.27,6.353z"/>
              <path id="top-left" fill="#FFB13B" d="M19.27,6.353h22.764c1.197,0,2.168,0.971,2.168,2.168v22.764
              c0,1.198-0.971,2.168-2.168,2.168H19.27c-1.197,0-2.168-0.97-2.168-2.168V8.521C17.102,7.323,18.073,6.353,19.27,6.353z"/>
              <path id="bottom-right" fill="#DE8500" d="M46.37,33.452h22.765c1.197,0,2.168,0.971,2.168,2.168v22.764
              c0,1.197-0.971,2.168-2.168,2.168H46.37c-1.197,0-2.168-0.971-2.168-2.168V35.621C44.202,34.424,45.173,33.452,46.37,33.452z"/>
              <g id="circles">
                <circle id="n" fill="#FF9900" cx="44.202" cy="16.325" r="9.973"/>
                <circle id="ne" fill="#FF9900" cx="56.343" cy="21.312" r="9.973"/>
                <circle id="e" fill="#FF9900" cx="61.329" cy="33.453" r="9.973"/>
                <circle id="se" fill="#FF9900" cx="56.343" cy="45.594" r="9.973"/>
                <circle id="s" fill="#FF9900" cx="44.202" cy="50.58" r="9.973"/>
                <circle id="sw" fill="#FF9900" cx="32.061" cy="45.594" r="9.973"/>
                <circle id="w" fill="#FF9900" cx="27.075" cy="33.453" r="9.973"/>
                <circle id="nw" fill="#FF9900" cx="32.061" cy="21.312" r="9.973"/>
              </g>
              <g id="stars">
                <path id="black-star" d="M51.295,16.317c0-3.917-3.176-7.092-7.1-7.092c-3.922,0-7.099,3.175-7.099,7.092
                c-2.764-2.77-7.26-2.77-10.025,0c-2.774,2.775-2.774,7.268,0,10.041c-3.921,0-7.102,3.175-7.102,7.092
                c0,3.918,3.182,7.099,7.102,7.099c-2.774,2.77-2.774,7.26,0,10.035c2.766,2.766,7.262,2.766,10.025,0
                c0,3.917,3.177,7.091,7.099,7.091c3.924,0,7.1-3.174,7.1-7.091c2.773,2.766,7.271,2.766,10.034,0
                c2.765-2.775,2.765-7.269,0-10.035c3.911,0,7.09-3.181,7.09-7.099c0-3.917-3.179-7.092-7.09-7.092
                c2.765-2.775,2.765-7.267,0-10.041C58.566,13.548,54.07,13.548,51.295,16.317z"/>
                <path id="white-star" fill="#FFFFFF" d="M46.914,19.038v7.852l5.56-5.557c0-0.982,0.374-1.961,1.119-2.713
                c1.507-1.502,3.943-1.502,5.434,0c1.502,1.5,1.502,3.933,0,5.435c-0.747,0.745-1.732,1.123-2.719,1.123l-5.547,5.555h7.854
                c0.699-0.694,1.655-1.125,2.716-1.125c2.113,0,3.836,1.723,3.836,3.841c0,2.117-1.723,3.842-3.836,3.842
                c-1.061,0-2.017-0.433-2.716-1.123H50.76l5.544,5.552c0.988,0,1.974,0.376,2.718,1.131c1.504,1.495,1.504,3.93,0,5.426
                c-1.49,1.503-3.924,1.503-5.434,0c-0.743-0.744-1.118-1.73-1.118-2.712l-5.559-5.557v7.858c0.689,0.691,1.13,1.655,1.13,2.717
                c0,2.117-1.723,3.836-3.847,3.836s-3.846-1.717-3.846-3.836c0-1.062,0.439-2.022,1.128-2.717v-7.858l-5.547,5.557
                c0,0.982-0.382,1.966-1.13,2.712c-1.501,1.502-3.93,1.502-5.433,0c-1.505-1.498-1.505-3.932,0-5.427
                c0.746-0.754,1.742-1.131,2.717-1.131l5.559-5.551h-7.851c-0.699,0.691-1.665,1.123-2.718,1.123c-2.123,0-3.847-1.724-3.847-3.842
                s1.722-3.841,3.847-3.841c1.051,0,2.019,0.431,2.718,1.125h7.853l-5.559-5.554c-0.975,0-1.969-0.377-2.717-1.122
                c-1.504-1.503-1.504-3.936,0-5.435c1.503-1.502,3.933-1.502,5.435,0c0.745,0.751,1.129,1.731,1.129,2.712l5.548,5.557v-7.853
                c-0.688-0.698-1.129-1.655-1.129-2.722c0-2.119,1.721-3.837,3.846-3.837c2.124,0,3.847,1.717,3.847,3.837
                C48.044,17.385,47.602,18.341,46.914,19.038z"/>
              </g>
              <g id="svg-textbox">
                <path id="text-backdrop" d="M19.974,33.452h48.444v21.68c0,1.807-0.903,2.71-2.71,2.71H22.685c-1.807,0-2.711-0.903-2.711-2.71
                V33.452z"/>
                <path id="shine" fill="#3F3F3F" d="M25.046,35.735h38.696c1.576,0,2.879,1.293,2.879,2.881v9.707
                c-14.95-1.845-29.77-4.404-44.45-4.164v-5.543C22.172,37.028,23.467,35.735,25.046,35.735L25.046,35.735z"/>
                <g id="svg-text">
                  <title>SVG</title>
                  <path id="S" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" d="M27.027,45.879c-1.14-1.142-1.847-2.725-1.847-4.473
                  c0-3.493,2.831-6.326,6.323-6.326c3.494,0,6.323,2.832,6.323,6.326h-3.702c0-1.449-1.176-2.621-2.621-2.621
                  c-1.443,0-2.622,1.172-2.622,2.621c0,0.725,0.298,1.375,0.767,1.854l0,0c0.479,0.474,1.139,0.762,1.855,0.762v0.006
                  c1.752,0,3.331,0.71,4.468,1.852l0,0c1.147,1.145,1.855,2.729,1.855,4.471c0,3.498-2.829,6.331-6.323,6.331
                  c-3.491,0-6.323-2.831-6.323-6.331h3.701c0,1.452,1.179,2.621,2.622,2.621c1.445,0,2.621-1.169,2.621-2.621
                  c0-0.721-0.296-1.369-0.775-1.847l0,0c-0.468-0.477-1.128-0.769-1.846-0.769l0,0C29.753,47.734,28.175,47.022,27.027,45.879
                  L27.027,45.879L27.027,45.879z"/>
                  <polygon id="V" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" points="50.483,35.081 46.014,56.679 42.302,56.679
                  37.826,35.081 41.537,35.081 44.159,47.73 46.779,35.081 			"/>
                  <path id="G" fill="#FFFFFF" stroke="#000000" stroke-width="0.5035" d="M56.806,44.028h6.332v6.322l0,0
                  c0,3.497-2.832,6.33-6.324,6.33c-3.491,0-6.323-2.833-6.323-6.33l0,0v-8.943h-0.01c0-3.494,2.841-6.328,6.324-6.328
                  c3.501,0,6.332,2.832,6.332,6.328h-3.713c0-1.449-1.166-2.622-2.619-2.622c-1.435,0-2.613,1.173-2.613,2.622v8.943l0,0
                  c0,1.45,1.179,2.622,2.613,2.622c1.453,0,2.619-1.172,2.619-2.616v-0.007v-2.616h-2.619L56.806,44.028L56.806,44.028z"/>
                </g>
              </g>
            </svg>
          </a>
          <!-- MongoDB SVG-->
          <a>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/527px-MongoDB-Logo.svg.png" height="67px" width="auto" style="margin:0" alt="">
          </a>
        </div>
      </p>
      <h3>Demo</h3>

      <video width="320" height="240" controls>
       <source src="/video/demo.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>

      </video>
    </section>
  </div>

</div><!-- End of portfolio pieces-->
</div>
<!-- End belowNav -->
